<a href="https://colab.research.google.com/github/ggonz105/MAT-421/blob/main/Module_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**9.1 Based-N and Binary**

The decimal system(base 10) is a way of representing numbers with digit of 0 and 9. And each digit is being the coefficient of a power of 10.

The binary system (base 2) is a way of representing numbers with digit of 0 and 1. And each digit is being the coefficient of a power of 2.

In [3]:
561.4 == (5*10**2) + (6*10**1) + (1*10**0) + (4*10**-1)
# This shows the decimal number 561.4 in (base10)

True

In [6]:
# 150(base3) == 15(base10)
(5*3**3) + (1*3**2) + (6*3**0) == (1*10**2) + (5*10**1) + (0*10**0)

True

In order to convert decimals into binary, the decimal must be represented in (base 10) to then be converted into binary (base 2)

In [19]:
# Converting 76(base10) to binary
# 76(base10) == 64+8+4
76 == (1*2**6) + (1*2**3) + (1*2**2)

True

In [15]:
# Converting 27(base10) to binary (base2)
# 27(base10) == 16+8+2+1
27 == (1*2**4) + (1*2**3) + (1*2**1) + (1*2**0)

True

Once in binary, normal addition and multiplication rules can be applied to compute the values

In [20]:
# Addition in binary
# 76 + 27 = 103
# 1001100 + 11011 = 1100111
103 == (1*2**6) + (1*2**5) + (1*2**2) + (1*2**1) + (1*2**0)

True

In [18]:
# Multiplication in binary
# 76 * 27 = 1748
# 1001100 * 11011 = 11011010100
1748 == (1*2**10) + (1*2**9) + (1*2**7) + (1*2**6) + (1*2**4) + (1*2**2)

True

**9.2 Floating Numbers**

A floating point number allocates bits in three different parts: the sign indicator, exponenet (a power of 2), and fraction

A float is representad as: n = (-1)^s * 2(e-1023) * (1+f)

In [21]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

The gap between one number and the next can be found using the spacing function

In [24]:
import numpy as np
np.spacing(1e5)
1e5 == (1e5 + np.spacing(1e5)/3)
# This verifies adding a number to 1e5 is less than half the gap at 1e9 results in the same number.

True

Any number that is larger than the largest possible (overflow) will result in infinity

Any number smaller than the smallest possible number (underflow) will result in 0.0

In [29]:
# Overflow
sys.float_info.max + sys.float_info.max

inf

In [28]:
# Underflow
2**(-1075)

0.0

**9.3 Round-off Errors**

Floating point numbers can not be stored with perfect precision, so they are approximated

The difference between an approximation of a number used in computation and its true value is the round- off error

In [34]:
9.2 - 8.75 == 0.45
# This shows the round-off error present in python

False

In [35]:
9.2-8.75
# True value of this computation

0.4499999999999993

In [37]:
# Round function can be used for post-rounding to compare the 2 values
round(9.2-8.75,3) == round(0.45,3)

True

The round-off error will also be accumlated throughout a series of calculations

In [38]:
# Computing once
3 + 1/6 - 1/6

3.0

In [45]:
# Compute 50 times
def add_and_sub(i):
  result = 3
  for num in range(i):
    result += 1/6

  for num in range(i):
    result -= 1/6
  return result

print(add_and_sub(50))

2.9999999999999996

In [47]:
# Compute 500 times
print(add_and_sub(500))

# Compute 5000 times
print(add_and_sub(5000))

3.0000000000000027
2.9999999999999454